* {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.status-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border-bottom: 5px solid #ddd;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.order-details {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

/* Table wrapper to enable scrolling */
.table-container {
  max-height: 400px;
  /* Adjust height for scrolling */
  overflow-y: auto;
  /* Enables scrolling */
  border: 1px solid #ccc;
}




table,
td,
th {
  border-collapse: collapse;
  border: 3px solid black;
  text-align: center;
  margin: 5px;
  padding: 5px;
}



.username-select {
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;

  transition: background-color 0.3s ease-in-out;
}

.orders {
  display: flex;
  gap: 10px;
}

image {
  width: 300px;
}

img {
  width: auto;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  margin: 5px;
}