/* Header styles */
header {
    position: fixed;
    width: 98%;
    /* margin: 100px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    font-family: Cursive;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Deep real shadow */
}

header .logo {
    font-weight: 600;
    font-size: 1.5rem;
    color: blue;
    margin-right: auto;
    margin-left: 15px;

    /* For the gradiant text */

    background-image: url(logobg.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    color: transparent;

    object-fit: contain;
}

header nav {
    display: flex;
    gap: 15px;

}

header nav a {
    text-decoration: none;
    color: red;
    transition: color var(--transition-speed);
    -webkit-transition: color var(--transition-speed);
    -moz-transition: color var(--transition-speed);
    -ms-transition: color var(--transition-speed);
    -o-transition: color var(--transition-speed);
}

header nav a:hover {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bolder;
    transition:ease-out;
    transition-duration: 0.3s;
    padding: 2px;
    background-color: rgb(179, 1, 1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition:ease-out;
    -moz-transition:ease-out;
    -ms-transition:ease-out;
    -o-transition:ease-out;
}

.logo_img {
    display: flex;
    height: 40px;
    width: 40px;
    margin-top: auto;
    /* border: 4px solid black; */
    object-fit: contain;
}